<%- include('header'); -%>

<div class="d-flex gap-5 justify-content-center">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="box card-header py-3">
      <h4 class="my-0 fw-normal"><%=listTitle%></h4>
    </div>
    <div class="card-body">
      <div class="list-group">
        <%newListItems.forEach(function(item){%>
        <form class="check" action="/delete" method="post">
          <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=item._id%>" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <p align="left"><%=item.name%></p>
            </span>
          </label>
          <input type="hidden" name="listName" value="<%=listTitle%>">
        </form>
        <%});%>
        <form class="list-group-item d-flex gap-3 bg-light" action="/" method="post">
          <input class="form-check-input form-check-input-placeholder bg-light flex-shrink-0" disabled type="checkbox" style="font-size: 1.375em;">
          <span class="pt-1 form-checked-content">
            <span contenteditable="false" class="w-100"><input class="typingarea" type="text" name="newItem" placeholder="Type new item here" autocomplete="off" autofocus><button class="add btn btn-outline-light btn-sm" type="submit" name="list"
                value="<%=listTitle%>"><i class="fa-solid fa-plus"></i></button>
            </span>
            <small class="d-block text-muted">
              <svg class="bi me-1" width="1em" height="1em">
                <use xlink:href="#list-check" />
              </svg>
            </small>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); -%>
