<%- include('header'); -%>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">To Do List</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link <%=homeMenuLink%>" aria-current="page" href="/">Home</a>
        <a class="nav-link work <%=workMenuLink%>" href="/work">Work</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>

    <div class="box">
      <%for (var i = 0; i < newListItems.length; i++) {%>
      <div class="item">
        <input type="checkbox">
        <p><%=newListItems[i]%></p>
      </div>
      <%}%>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button class="btn-secondary" type="submit" name="list" value=<%=listTitle%>>+</button>
      </form>
    </div>
  </main>

  <%- include('footer'); -%>
